@include mobile {
  #navNotes {
    display: block;
    width: 100%;
    text-align: center;

    a {
      padding: 15px 0;
      width: 50%;
      display: inline-block;
      text-decoration: none;
      background: $bg-color-medium;
      color: $font-color-muted;
      &:visited {
        color: $font-color-muted;
      }

      &.active {
        background: $bg-color;
        color: var(--maincolor);
      }

      &.left-active {
        border-radius: 0 15px 0 0;
      }

      &.right-active {
        border-radius: 15px 0 0 0;
      }
    }
  }
}
