* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //   font-family: 'Bebas Neue', cursive;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  opacity: 0.6;
  &:hover {
    opacity: 0.6;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input,
select,
button {
  background: white;
}

button,
div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
